{% extends 'food/base.html' %}

{% block body %}

<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-danger">
                    <div class="class-title">
                        Delete Item
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <h6>Are you sure, You want to delete {{ item.item_name }}? </h6>
                            <br><button type="submit" class="btn btn-success">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}